<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Snake Game</title>
  <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">
  <link rel="stylesheet" href="/font-awesome.css">
  <link rel="stylesheet" href="/slide-style.css">
  <link rel="stylesheet" href="/editor-style.css">
  <link rel="stylesheet" href="/questions-style.css">
  <link href="google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<!--  <link rel="stylesheet" href="nav-bar.css"> -->
  <script type="text/javascript" src='google-code-prettify/prettify.js'></script>
  <script src="/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="/pop.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/snake.css'>
<script src='/snake.js'></script> 
  <style>
    pre.prettyprint{
        width: auto;
        overflow-x:scroll;
        overflow-y:hidden;
        line-height: 1.6em;
        font-size:12px;
        white-space:pre;
        display: block;
        word-wrap: normal;
        padding: 8px;
        overflow: auto;
        max-height: 600px;
   }
  </style>
</head>
<body onload="prettyPrint()">
<div id="o-wrapper" class="o-wrapper">
  <header class="o-header">
    <nav class="o-header-nav">
      <div class="c-buttons">
        <a href='/'><button id='c-button--home' class='c-button' class='nav-but'>Home</button></a>
        <button class="c-hamburger c-hamburger--htx" style="float:left">
           <span></span>
        </button>
        <button id="c-button--slide-left" class="c-button" class='nav-but'>Glossary</button>
        <button id="c-button--slide-left2" class="c-button" class='nav-but'>Q&#38;A</button>
        <button id="c-button--slide-right" class="c-button" class='nav-but'>TryItEditor</button>  
      </div>
    </nav>
    <div class="o-container">
      <h1 class="o-header__title">ヘビゲームを作ろう</h1>
    </div>
  </header><!-- /o-header -->
    <div class='left'>
        <!--this is the section that displays the comments-->
        <div id='note'>分からないコードをクリックすると解説が出るよ！</div> 
        <!-- the actual code that the students can follow / and these are also the slides-->
        <div id='backBut'><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></div>
        <div id='exp'>解説</div>
        <div id='actCode'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></div>
        <div id='nextBut'><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
        </br>
        <div id='start'></div>
        <div class='page now'>
            <div class='codetext'>
                <%@codeAndComments1.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
                最初にcanvasエレメントを作って何か描いてみよう！このステップでは最初にcanvasエレメントを作り、長さと高さを設定し、ピンクの四角形を書いてみるよ！このステップで大切な事は、canvas　自体にはdrawing methodを呼んでなくて、canvasのdrawing context にdrawing methodを呼んでる事だよ！.getContext('2d'）を呼ぶ事によってcanvas にcontext　を作ります。
            </div>
        </div>


        <div class='page hide'>
            <div class='codetext'>
                <%@codeAndComments2.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
                <p>綺麗な四角を描けたのは、嬉しいけど何も動かないのじゃ楽しくないから次はgame loopを使って四角を動かしてみよう!</p><p>
gameloopとは一定の時間ごとに呼ばれる関数で物を動かしたりするのに使うよ。まず最初にJS_SNAKEというグローバル変数を作ります。</p><p>
これからこの変数にいろいろ入れていくよ！次にgameというobject をつくるよ。このobject はゲーム関係の関数や変数を中に入れます。game の中にあるinitという関数は一番最初に呼ばれる関数で前のページで作った四角を作ります。</p><p>
init のなかで呼ぶgameLoopという関数は四角のポジションを動かし、canvasを一回消してから新しい四角を新しいポジションに書きます。setTimeoutというbuild-in関数{setTimeout(呼ぶ関数、待つ時間)}を使ってgameLoop をframeLengthミリ秒ごとに呼びます。</p>
            </div>
        </div>

        <div class='page hide'>
            <div class='codetext'>
                <%@codeAndComments3.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
   なんとなくアニメーションの仕組みはわかったかな？なら蛇を描いてみよう！私たちがつくる蛇は小さな四角のブロックで作ります。蛇を動かすためにはフレームごとに頭にブロックを一つ加え、後ろからブロックを一つ取ります。snakeのobjectには二つメソッド, advance と draw が入ります。advanceはsnakeを右に動かし、draw は　snake をcanvasの中に描き込みます。advanceはsnakeの今の頭をコピーして、それを一つ横に動かします。そしてそれを蛇の配列のまえに付けたし、一番後ろに入ってる物をPOPします。draw は　drawsection を使ってどんどん四角を書いていきます。
            </div>
        </div>
        <div class='page hide'>
            <div class='codetext'>
                <%@codeAndComments4.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
                イェーイ！蛇が動いた。でも動く方向を変えられなかったらつまらないからキーボードの
                イベントをバインドしよう。新しくgame.init() というevent を管理する関数を作ろう。
                矢印のkeyが押されたらnewDirection をその方向に設定します。setDirectionという関数
                は押された方向が可能かをチェックします。e.g.右に進んでいる時に左に戻るのはなし、等。
            </div>
        </div>
        <div class='page hide'>
            <div class='codetext'>
                <%@codeAndComments5.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
                次は蛇の餌を書き入れよう！canvas に丸を作るには最初にbeginPath() を呼びます。そしてarc(x,y,startingAngle, finishingAngle, true)で丸を書きます。x,yは中心のxy地点です。
            </div>
        </div>
        <div class='page hide'>
            <div class='codetext'>
                <%@codeAndComments6.each do |t|%>
                <% t = t.split('//') %>
                <div class='tut'><pre class='prettyprint' class='code'><%=t[0]%></pre><div class='comment'><%=t[1]%></div></div>
                <% end %>
            </div>
            <div class='exptext'>
                最後に蛇とりんごがぶつかったらスコアがアップするという機能を付けて完成！
            </div>
        </div>

        <div id='end'></div> 

    </div>













    <div class='right'>
        <iframe id='preview'></iframe>
    </div>
    <div><button id='evaluateBut' onClick='evaluateBut()'>Run!</button></div>
    <div id='editor-ace'>&lt;html&gt;
&lt;head&gt;
    &lt;script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1>SnakeGame&lt;/h1>
    &lt;script>
    //insert js code;
    &lt;/script>
&lt;/body&gt;
&lt;/html&gt;</div>
    <script src='/ace-builds/src-noconflict/ace.js' type='text/javascript' charset='utf-8'></script>
    <script>
        var editor = ace.edit("editor-ace");
        editor.setTheme('ace/theme/monokai');
        editor.getSession().setMode('ace/mode/html');
        function evaluateBut() {
            var code = editor.getValue();
            var previewFrame = document.getElementById('preview');
            var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;
            preview.open();
            preview.write(code);
            preview.close();
        };
        $(document).ready(function(){
            evaluateBut();
        });
    </script>


















    </div><!-- /o-container -->
  </main><!-- /o-content -->
</div><!-- /o-wrapper -->

<!-- html/css tryit editor-->
<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
    <button class="c-menu__close">&rarr; Close Menu</button>
    <div id='editor'>
        <h1 class="title">Try It Editor!</h1>
        <div id='input'>
            <h2>Write in your code!</h2>
             <textarea class="code" id="html" placeholder="write in me! :)"></textarea>
        </div>
        <div id="output">
            <h2>Here's your output!</h2>
            <iframe id="preview" src="javascript:;"></iframe>
        </div>
    </div>
</nav>

<!-- js for editor secion above-->
<script>
      $(document).ready(function(){
        var p=$("#preview").contents().find('body');
        p.css('margin', '2px');
        p.html('<span id="subinsbdotcomhtmlpr"></span><style id="subinsbdotcomcsspr"></style>');
        $('#html').on('keyup', function(){
            p.find('#subinsbdotcomhtmlpr').html($(this).val());
        });
      });
      $(document).ready(function(){
        $("textarea").keydown(function(e){
            if(e.keyCode === 9) {
                var start = this.selectionStart;
                var end = this.selectionEnd;
                var $this = $(this);
                var value = $this.val();
                //set textarea val to: text B4 caret + tab text after caret
                $this.val(value.substring(0, start) + "\t" + value.substring(end));
                this.selectionStart = this.selectionEnd = start + 1;
                e.preventDefault();
            }
        });
      });
</script>


<!--Q&A section-->
<nav id="c-menu--slide-left2" class="c-menu c-menu--slide-left">
    <button class="c-menu__close">&larr; Close Menu</button>
    <div id='qnadiv'>
    <h1 id="q__title">Q and A</h1>
    <div id="q__feed">
        <%@questions.each do |q|%>
        <div class='qabox'>
        
   <div class="q-header"><p><%=q.name%> </p></div>
            <div class="arrows"><a href="#"><img src="upIcon.png" class="upImage"></a><%=q.rank%><a href="#"><img src="downIcon.png" class="upImage"></a></div>
            <button class="readMore">ReadMore</button>
            <ul class="answers">
                <p class="question"><%=q.body%></p><button class='reply'>Reply</button>
                
            <div class="postForm">
                <% Comment.order(:rank).each do |t| %>
                <p>comment: <%= t.body %></p?
                <% end %>
                    <form name='replyName<%=q.id%>' 
                            action='/submitR/<%=q.id%>' method='post'></form>

                    <p>SubjectLine:</p>
                    <textarea type="text" form="replyName<%=q.id%>"id="replyInput"
                                name='subject'></textarea>
                    <button type='submit' form='replyName<%=q.id%>'class='replySubmit'>submit</button>
                    <button type='button'class='replyCancel'>cancel</button>
            </div>
            
            </ul>
        </div>
        <% end %>
    </div>
    <div class="postForm">
            <form name='submitFormName'id='postForm' action='submitQ' method='post'></form>

            <p>SubjectLine:</p>
            <input type="text" form="postForm"id="s-input" name='subject'></input>
            <p>Question:</p>
            <textArea rows="7" cols="80" form="postForm"id="q-input" name='question'></textArea>
            <p>Tags:</p>
            <input type="text" form="postForm" id="t-input"name='tags'></input>
    </div>
        <button id="postButton">Ask a Question</button>
        <button id="cancelPost">Cancel</button>
    </div>
</nav>


<!--js code for Q&A section -->
<script>
    jQuery(document.body).on('click', '.readMore', function(event){
            $(this).next().show();
            $(this).removeClass("readMore").addClass("showLess");
            $(this).html("ShowLess");
    });
    jQuery(document.body).on('click','.showLess',function(event){
            $(this).next().hide();
            $(this).addClass("readMore").removeClass("showLess");
            $(this).html("ReadMore");
    });
    jQuery(document.body).on('click', '.reply', function(event){
            $(this).next().show();
            $(this).hide();
    });
    jQuery(document.body).on('click', '.replyCancel', function(event){
            $(this).parent().hide();
            $(this).parent().prev().show();
    });
    jQuery(document.body).on('click','.replySubmit', function(event){
            $(this).prev().prev().prev().submit();
    });
    
   $(document).ready(function(){
        $("#postButton").click(function(){
            if (this.innerHTML === 'Ask a Question'){
                $(".postForm").show();
                $("#cancelPost").show();
                $(this).html("Post");
            }
            else {
                var subject = $('#s-input').val();
                var question = $('#q-input').val();
                var tags = $("#t-input").val();
                if (subject.length == 0 || question.length == 0|| tags.length == 0)
                    window.alert("please don't leave anything blank");
                else {
                    var request = $.ajax({
                    type: "POST",
                    url: "/submitQ",
                    data: {
                        subject: subject,
                        question: question,
                        tags: tags
                    }
                });
                request.done(function(){
                    $.ajax({
                        type: "GET",
                        url: "/question/last",
                        dataType: "json"
                    })
                    .done(function(res){
                        $('#s-input').val('');
                        $('#q-input').val('');
                        $('#t-input').val('');
                        location.reload();
                    });
                });
                }
            }
            
        });
        $("#cancelPost").click(function(){
            $("#cancelPost").hide();
            $(".postForm").hide();
            $("#postButton").html("Ask a Question");
        });
    });

    
</script>


<!-- GLOSSARY SECTION-->
<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
  <button class="c-menu__close">&larr; Close Menu</button>
  <div id="accordian">
      <ul class="main-list">
          <li>
            <h3><span class='icon-dashboard'></span>Attributes</h3>
            <ul class="second-list">
                <li>
                <span>
                    <strong>class</strong><br>
                    Html elements can have one or more classes, separated by spaces. You can style elements using CSS by selecting them with their classes. 
                </span><br>
                <u>html:</u>
                <pre class='prettyprint linenums' class='code'>&lt;div class="header"&gt; &lt;/div&gt;</pre>
                <u>css:</u>
                <pre class='prettyprint linenums'class='code'>.header{background-image: '#F00'}</pre>
                </li><br>
                <li>
                <span>
                    <strong>id</strong><br>
                    An HTML element can have an id attribute to identify it. id elements should always be unique to that single element, and each element should never have more than one id. 
                </span><br>
                <u>html:</u>
                <pre class='prettyprint linenums' class='code'>&lt;div id="sloth"&gt; &lt;/div&gt;</pre>
                <u>css:</u>
                <pre class='prettyprint linenums'class='code'><code>#sloth{background-image: '#F00'}</code></pre>
                </li><br>
                <li>
                <span>
                    <strong>href</strong><br>
                    Links tell the browser where to go using an href attribute, which stores a URL.
                </span><br>
                html:
                <pre class='prettyprint linenums' class='code'>&lt;a href='http://google.com'&gt;Google it!&lt;a&gt;</pre>
                </li>    
            </ul>
          </li>
          <li class="active">
              <h3><span class='icon-tasks'></span>Basic Formatting</h3>
              <ul class="second-list">
                  <li><p>hi</p></li>
                  <li><p>ho</p></li>
              </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>Body</h3>
            <ul class="second-list">
                <li><p>lalala</p></li>
                <li><p>lalalo</p></li>
                <li><p>meeow</p></li>
            </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>Children</h3>
            <ul class="second-list">
                <li> mepw </li>

            </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>Regular Expression</h3>
            <ul class="second-list">
                <li> mepw </li>

            </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>Div</h3>
            <ul class="second-list">
                <li> mepw </li>

            </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>Head</h3>
            <ul class="second-list">
                <li> mepw </li>

            </ul>
          </li>
          <li>
            <h3><span class='icon-dashboard'></span>hyperlinks</h3>
            <ul class="second-list">
                <li> mepw </li>

            </ul>
          </li>
      </ul>
  </div>
</nav><!-- /c-menu slide-left -->

<!-- js for glossary -->
<script>
      $(document).ready(function(){
            $('#accordian h3').click(function(){
              $('#accordian ul ul').slideUp();
              if (!$(this).next().is(':visible'))
              {
                  $(this).next().slideDown();
              }
          })
      })
</script>
<div id="c-mask" class="c-mask"></div><!-- /c-mask -->

<!-- menus script -->


<script>
  
  /**
   * Slide left instantiation and action.
   */
  var slideLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });

  var slideLeft2 = new Menu({
      wrapper: '#o-wrapper',
      type: 'slide-left2',
      menuOpenerClass: '.c-button',
      maskId: '#c-mask'
  });

  var slideLeftBtn2 = document.querySelector('#c-button--slide-left2');

  slideLeftBtn2.addEventListener('click', function(e) {
      e.preventDefault;
      slideLeft2.open();
  });



  var slideRight = new Menu({
      wrapper: "#o-wrapper",
      type: "slide-right",
      menuOpenerClass: ".c-button",
      maskId: '#c-mask'
  });
  var slideSecondLeftBtn = document.querySelector("#c-button--slide-right");

  slideSecondLeftBtn.addEventListener('click', function(e) {
      e.preventDefault;
      slideRight.open();
  });


</script>


<!-- js script for the hamburger button. -->
<script>
    (function(){
        "use strict";
        var toggles = document.querySelectorAll(".c-hamburger");
        for (var i = toggles.length-1; i>=0; i--){
            var toggle = toggles[i];
            toggleHandler(toggle);
        };
        function toggleHandler(toggle){
            toggle.addEventListener("click", function(e) {
                e.preventDefault();
                (this.classList.contains("is-active")===true)? this.classList.remove("is-active") : this.classList.add("is-active")
            });
        }
    })();
</script>
<!-- js code for hamburger button controlling whether other buttons are visible or not-->
<script>
  $(document).ready(function(){
    $(".c-hamburger.c-hamburger--htx").click(function(){
        var buts = document.querySelectorAll(".c-button"); 
        for (var i = buts.length-1; i>=0; i--){                               
            var but = $(buts[i]);                                             
            if (but.is(":visible"))
                but.fadeOut(800);
            else 
                but.fadeIn(800);
        };
    });
  });

</script>
</body>
</html>
